<template>
  <div class="addressList" v-bind:class="postcodeServiceStatus">
    <div class="addresses">
      <div class="address" v-for="address in addressList.addresses" :key="address">
        {{ address }}
      </div>
    </div>
    <div class="errorMsg" v-if="postcodeServiceStatus === 'error'">Sorry, there was an error processing your request</div>
    <div class="loadingSpinner">
      <svg width="100%" height="100%" viewBox="0 0 42 42" class="donut">
      <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff0"></circle>
      <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#0c6" stroke-width="3"></circle>
      <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#666" stroke-width="3" stroke-dasharray="85 15" stroke-dashoffset="0"></circle>
    </svg>
    </div>
  </div>
</template>

<script>
import store from '../vuex'

export default {
  name: 'AddressList',
  components: {
  },

  data: () => ({
  }),

  props: [
    'addresses',
    'status'
  ],

  watch: {
    addresses: function() {
      console.log('showAddressList')
      store.dispatch('showAddressList',
        true
      )
    },
    status: function(newVal) {
      console.log(newVal, 'service state changed')
      switch(newVal) {
        case 'loading':
          // code block
          this.searchPostcode()
          break;
        case 'loaded':
          // code block
          console.log('loaded')
          break;
        default:
          // code block
      }
    },
  },

  computed: {
    currentPostcode () {
      return this.$store.state.postcode
    },
    postcodeServiceStatus() {
      return this.$store.state.postcodeServiceState
    },
    addressList() {
      return this.$store.state.addresses
    }
  },

  mounted() {
  },

  methods: {
    searchPostcode: function searchPostcode() { // rate limited to 20 a day with this service google is 100,000
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          console.log(this.readyState, JSON.parse(xhr.responseText), 'hello');
          store.dispatch('serviceState',
            'loaded'
          )
          store.dispatch('storeAddresses',
            JSON.parse(xhr.responseText)
          )
        } else {
          store.dispatch('serviceState',
            'error'
          )
          console.log(this.status, this.readyState, xhr.responseText, 'error!')
        }
      };
      xhr.open("GET", `https://api.getAddress.io/find/${this.currentPostcode}?api-key=8RpSAw-CvEKSH3KL0Povsg26524`, true);
      xhr.send();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .loadingSpinner {
    max-width:60px;
    display:none;
  }

  .loading .loadingSpinner {
    display: block;
  }

  .loadingSpinner svg {
    width:100%;
    animation-name: spin;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
  }

  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }

  .addresses {
    max-height:300px;
    overflow:auto;    
  }
</style>
