<template>
  <div class="autocomplete" v-bind:class="{ foundaddress: locationToggle }">
    <h1 v-if="!locationToggle">Find your address</h1>
    <input class="autocomplete-input" v-bind:class="{hide: locationToggle}" id="autocomplete" />
    <postcodeSearch v-if="!locationToggle" :postcode="this.$store.state.postcode" />
    <p v-if="locationToggle">Not the address you were looking for?</p>
    <button v-if="locationToggle" class="submitButton" v-on:click="showLocation(false)">Search again</button>
    <AddressList :addresses="this.$store.state.addresses" :status="this.$store.state.postcodeServiceState" />
  </div>
</template>

<script>
import store from '../vuex'
import postcodeSearch from './PostcodeSearch.vue'
import AddressList from './AddressList.vue'

export default {
  name: 'AutoComplete',
  components: {
    postcodeSearch,
    AddressList
  },

  data: () => ({
    autocomplete: '',
    address: '',
    placeResult: ''
  }),

  computed: {
    locationToggle () {
      return this.$store.state.showLocation
    }
  },

  mounted() {
      this.initAutoComplete()
  },

  methods: {
    initAutoComplete: function initAutocomplete() {
      let google = window.google
      let element = document.getElementById('autocomplete')
      
      // Create the autocomplete object, restricting the search predictions to
      // geographical location types.
      this.autocomplete = new google.maps.places.Autocomplete(element, {types: ['geocode']});

      // RESTRICT TO UK
      this.autocomplete.setComponentRestrictions({'country': ['gb']});

      // Avoid paying for data that you don't need by restricting the set of
      // place fields that are returned to just the address components.
      this.autocomplete.setFields(['address_component', 'geometry']);

      // When the user selects an address from the drop-down, populate the
      // address fields in the form.
      this.autocomplete.addListener('place_changed', this.getPlace);
    },
    getPlace: function getPlace() {
      this.placeResult = this.autocomplete.getPlace()
      if (this.checkStreetNumber()) {
        store.dispatch('movemap',
          {
            lat: this.placeResult.geometry.location.lat(),
            lng: this.placeResult.geometry.location.lng()
          }
        )
        this.showLocation(true)
      } else if (this.checkCompletePostcode()) {
        console.log('look up numbers from the other endpoint')
        // store.dispatch('showLocation',
        //   bool
        // )
        // this.searchPostcode()
      } else {
        // wasnt a complete search, try something else
        console.log('doing something wrong')
        this.backupSearch(true)
        // this.showBackupSearch()
      }
    },
    checkStreetNumber: function checkStreetNumber() {
      let hasStreetNumber = false;
      this.placeResult.address_components.forEach(component => {
        // premise is what named houses are
        if (component.types.indexOf('street_number') > -1 || component.types.indexOf('premise') > -1) {
          hasStreetNumber = true
        }
      })
      return hasStreetNumber;
    },
    showLocation: function showLocation(bool) {
      store.dispatch('showLocation',
        bool
      )
      if (!bool) {
        this.initAutoComplete()
      }
    },
    checkCompletePostcode: function checkCompletePostcode() {
      let isComplete = false;
      this.placeResult.address_components.forEach(component => {
        if (component.types.indexOf('postal_code') > -1 && component.types.indexOf('postal_code_prefix') === -1) {
          store.dispatch('currentPostcode', component.long_name)
          isComplete = true;
        }
      })
      return isComplete;
    },
    backupSearch: function backupSearch(bool) {
      store.dispatch('showBackupSearch',
        bool
      )
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .autocomplete {
    display:flex;
    flex-direction:column;
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    max-height:100vh;
    z-index:2;
    align-items:center;
    justify-content:center;
    background:#0003;
    backdrop-filter: blur(6px);
    transition: max-height .3s ease-in-out;
  }

  .foundaddress {
    max-height:100px;
    box-shadow:0 0 16px 4px #000;
  }

  .autocomplete-input,
  .postcode {
    display:inline-flex;
    width: 100%;
    max-width: 300px;
    height:48px;
    padding:6px 12px;
    border:none;
    box-shadow:0 0 8px #000;
    border-radius:3px;
    font-size:16px;
    box-sizing:border-box;
    margin:0 0 16px;
  }

  .backupSearch {
    background-color:#0006;
    color:#fff;
    padding:16px;
    display:flex;
    flex-direction:column;
    max-width:300px;
    box-sizing:border-box;
  }

  .backupSearch label {
    display:inline-block;
    margin:0 0 8px;
    font-size:16px;
  }

  .backupSearch:placeholder {
    color: #999;
    transition: all .3s ease-in-out;
  }

  .backupSearch:focus:placeholder {
    color:#fff;
  }

  .submitButton {
    background-color:#0c6;
    border:0;
    border-radius: 4px;
    display: flex;
    height:32px;
    align-items: center;
    justify-content: center;
    cursor:pointer;
  }

  .textButton {
    background:none;
    display:inline;
    text-decoration:underline;
    color: #0c6;
    border: 0;
    margin:0 0 16px;
    cursor:pointer;
  }

  .hide {
    display:none;
  }
</style>
