<template>
  <div class="postcodeSearch">
    <button class="textButton" id="showPostcodeSearch" v-on:click="showPostcodeSearch()"><strong>OR</strong> search by postcode</button>
    <div class="backupSearch" v-if="showBackupSearch">
      <p v-if="triggeredByError">Sorry, we're having trouble finding that location</p>
      <label for="postcode">Try entering a postcode instead</label>
      <input type="text" class="postcode" id="postcode" placeholder="e.g. PO57 9OD" :value="postcode" @input="updatePostcode"/>
      <button class="submitButton" id="postcodeSearch" v-on:click="searchPostcode()">Search postcode</button>
    </div>
  </div>
</template>

<script>
import store from '../vuex'

export default {
  name: 'PostcodeSearch',
  components: {
  },

  data: () => ({
    triggeredByError: false
  }),

  props: [
    'postcode'
  ],

  watch: {
  },

  computed: {
    showBackupSearch () {
      return this.$store.state.showBackupSearch
    },
    // currentPostcode () {
    //   return this.$store.state.postcode
    // },
  },

  mounted() {
  },

  methods: {
    updatePostcode: function updatePostcode(e) {
      store.dispatch('currentPostcode', e.target.value)
    },
    searchPostcode: function searchPostcode() {
      store.dispatch('serviceState',
        'loading'
      )
    },
    // getCurrentPostcode: function getCurrentPostcode() {
    //   console.log(this.placeResult.address_components, 'hello')
    //   // this.placeResult.address_components.forEach(component => {
    //   //   if (component.types.indexOf('postal_code') > -1) {
    //   //     // return component
    //   //     console.log(component)
    //   //   }
    //   // })
    // },
    showPostcodeSearch: function showPostcodeSearch() {
      store.dispatch('showBackupSearch',
        !this.showBackupSearch
      )
    },
    // hidePostcodeSearch: function showPostcodeSearch() {
    //   store.dispatch('showBackupSearch',
    //     false
    //   )
    // },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .postcodeSearch {
    width:100%;
    max-width:300px;
  }

  .postcode {
    display:inline-flex;
    width: 100%;
    max-width: 300px;
    height:48px;
    padding:6px 12px;
    border:none;
    box-shadow:0 0 8px #000;
    border-radius:3px;
    font-size:16px;
    box-sizing:border-box;
    margin:0 0 16px;
  }

  .backupSearch {
    background-color:#0006;
    color:#fff;
    padding:16px;
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
  }

  .backupSearch label {
    display:inline-block;
    margin:0 0 8px;
    font-size:16px;
  }

  .backupSearch:placeholder {
    color: #999;
    transition: all .3s ease-in-out;
  }

  .backupSearch:focus:placeholder {
    color:#fff;
  }

  .submitButton {
    background-color:#0c6;
    border:0;
    border-radius: 4px;
    display: flex;
    height:32px;
    align-items: center;
    justify-content: center;
    cursor:pointer;
  }

  .textButton {
    background:none;
    display:inline;
    text-decoration:underline;
    color: #0c6;
    border: 0;
    margin:0 0 16px;
    cursor:pointer;
  }
</style>
