<template>
  <div id="app">
    <googleMap ref="map" :location="this.$store.state.location" />
    <AutoComplete />
  </div>
</template>

<script>
import GoogleMap from './components/GoogleMap.vue'
import AutoComplete from './components/AutoComplete.vue'

export default {
  name: 'App',
  components: {
    GoogleMap,
    AutoComplete
  }
}
</script>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #f5f5f5;
  }
</style>
